.player{
	border: 1px solid;
	width: 100vw;
	height: 30vh;
	z-index: -1;
}

.player-toggle-btn{
	position: fixed;
	right: 10vw;
	bottom: 10vh;
	z-index: 500;
}

.player-console{
	position: fixed;
	top: 2vh;
	left: 2vh;
	right: 2vh;
	bottom: 2vh;
	display: block;
	background-color: #fff;
	border-radius: 5px;
	z-index: 1000;
}

.player-header{
	display: flex;
	margin: 1rem;
	padding-bottom: 2%;
	border-bottom: inset;
}

.player-title{
	display: inline-block;
	width: 95%;
}

.player-body{
	margin: 1rem;
}

.player-details{
	display: flex;
	height: 70vh;
	margin: 0.5%;
}

.player-controls{
	border-top: outset;
	
}

.player-controls .btn{
	margin: 1%;
}

.player-info{
	width: 60%;
}

.player-playlist{
	border-left: inset;
	width: 40%;
	overflow-y: auto;
	overflow-x: hidden;
}

.playlist-block{
	display: grid;
	width: 100%;
}

.playlist-row{
	border-bottom: inset;
	width: inherit;
	margin-bottom: 2%;
	border-radius: 5px;
}